.navbar {
  padding: 20px 0;
  background-color: white !important;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  transition: all 100ms ease-in-out;
  font-size: 1.1rem;
  font-weight: 300;
}

.nav-link:hover {
  color: var(--main-color) !important;
}

.nav-link:focus,
.language-switcher button:focus {
  color: var(--main-color);
}

.form-check {
  padding-left: 10px;
}

.form-check.form-switch {
  margin-top: 10px;
}

.sun {
  margin-right: 42px;
}

.moon {
  margin-left: -8px;
}

.translate-btn {
  border-radius: 50%;
}

.navbar-nav {
  margin-right: 12%;
}

body.dark-mode .navbar {
  background-color: var(--dark-background-color) !important;
  color: var(--dark-text-color) !important;
}

body.dark-mode .nav-link:focus {
  color: var(--main-color);
}

body.dark-mode button {
  color: var(--dark-text-color) !important;
  background-color: var(--dark-text-color) !important;
}

@media (max-width: 900px) {
  .navbar-nav {
    margin-right: auto;
  }
}
